.b1{
    background-color: rgb(255, 255, 255);
    width: max-content;
    height: 40px;          
    margin-left: 38%;

}
.b2{
    background-color: rgb(255, 255, 255);
    width: max-content;
    height: 40px; 
    margin-left: 5%;
}
.header1{
    margin-top: 20%;
   text-align: center;  
}
.final{
    text-align: center;  
}
.up{
    height: 20px;
    width: 30px;
    position: relative;
    align-items: center;
    
}
.down{
    height: 20px;
    width: 30px;
    position: relative;
    align-items: center;
    transform: rotate(180deg);
}